h1{
    text-align: center;
    Font-size: 36px;
    background-image : linear-gradient(to left, #DAD299, #B0DAB9);
    color: whitesmoke
  }

p{
    
    font-size: 29px;
    text-align: justify;
    color: whitesmoke
}


#abaixo{
     margin-left: auto;
     margin-right: auto;
     display: block;
     height: 250px;
     width: 450px
       }

body{
    
    background-image : linear-gradient(to left, #C9FFBF, #FFAFBD);
}

a{
    
    font-size: 20px
    color: whitesmoke
}
       