#titulo{
    text-align: center;
    font-size: 31px;
    background-color: black;
    color: whitesmoke
}



h1{
    text-align: center;
    font-size: 25px
  }

img{
    
    width: 80px;
    height: 80px;
   }

img:hover{
    
    width: 110px;
    height: 110px;
         }


#data{
    
    font-size: 20px
}

a{
    
    font-size: 20px;
    color: whitesmoke;
    background-color: black
}