h1{
    
       background-image : linear-gradient(to left, #4776E6,#8E54E9);
       color: whitesmoke;
       text-align: center
           
  }

p{  
    
    font-size: 26px;
    
 }

body{
    
    background-image : linear-gradient(to left, #4776E6,#8E54E9);
    color: whitesmoke
}

a{
    
    font-size: 15px;
    color: snow;
}

